<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>legs</key>
	<string>Leggings</string>
	<key>bag</key>
	<string>Bolsos</string>
	<key>snck</key>
	<string>Zapatillas</string>
	<key>belt</key>
	<string>Cinturones</string>
	<key>hat</key>
	<string>Sombreros</string>
	<key>balle</key>
	<string>Ballerinas</string>
	<key>heel</key>
	<string>Zapatos de tacón</string>
	<key>sandl</key>
	<string>Sandalias</string>
	<key>top</key>
	<string>Poleras y blusas</string>
	<key>sweat</key>
	<string>Chalecos</string>
	<key>skirt</key>
	<string>Faldas</string>
	<key>dress</key>
	<string>Vestidos</string>
	<key>blazer</key>
	<string>Blazers</string>
	<key>coat</key>
	<string>Chaquetas</string>
	<key>eye</key>
	<string>Lentes</string>
	<key>short</key>
	<string>Shorts</string>
	<key>pant</key>
	<string>Pantalones</string>
</dict>
</plist>
