<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classify</key>
	<string>Classify</string>
	<key>review</key>
	<string>Review non sent images</string>
	<key>sync</key>
	<string>Synchronize</string>
</dict>
</plist>
